<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2018 Sneyder Angulo.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sneyder.sdmessages">

  <uses-feature
      android:name="android.hardware.location"
      android:required="false" />
  <uses-feature
      android:name="android.hardware.location.gps"
      android:required="false" />
  <uses-feature
      android:name="android.hardware.location.network"
      android:required="false" />
  <uses-feature
      android:name="android.hardware.telephony"
      android:required="false" />

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.INTERNET" />
  <!--
  Allows Glide to monitor connective sync Status and restart failed requests if users go from a
  a disconnected to a connected network state and it's also necessary because of AWS
    -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
      android:name=".SDMessagesApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name=".ui.home.HomeActivity"
        android:exported="true" />
    <!--
    Use an alias in case we want to change the launch activity later without breaking
    home screen shortcuts. Note must be defined after the targetActivity
        -->
    <activity-alias
        android:name=".Launcher"
        android:targetActivity=".ui.home.HomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>

    <activity android:name=".ui.signup.SignUpActivity" />

    <activity android:name=".ui.register.RegisterActivity" />

    <activity
        android:name=".ui.main.MainActivity"
        android:theme="@style/AppTheme.NoActionBar" />

    <activity android:name=".ui.login.LogInActivity" />

    <!-- Used for Amazon S3 integration -->
    <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" android:enabled="true" />

    <!-- Used to use URIs inside the app in android Nougat and later -->
    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.sneyder.sdmessages.android.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths"/>
    </provider>

    <!-- Necessary for Facebook login SDK -->

    <meta-data android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>

    <activity android:name="com.facebook.FacebookActivity"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:label="@string/app_name" />

  </application>

</manifest>